* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
  }

  li {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
  }
  
  .header {
    background-color: #011827;
    color: white;
    padding: 1rem;
  }
  .header .logo {
    padding: 0.2rem 0 0 130px;
    width: 100px;
    height: 80px;
    line-height: 1em;
    font-size: 1.6rem;
    background-image: url("images/logo.png");
    background-size: 120px;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 960px) {
    .header .logo {
      width: auto;
      height: auto;
      padding-top: 2.8rem;
      padding-bottom: 0.8rem;
      font-size: 2rem;
    }
  }
  
  .main-nav .main-menu {
    display: none;
  }
  .main-nav .main-nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    transition: transform 0.5s, top 0.5s, right 0.5s;
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    background-color: white;
  }
  .main-nav .main-nav-toggle::before {
    content: "";
    position: absolute;
    top: 0.7rem;
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    background-color: white;
    opacity: 1;
    transition: opacity 0.5s;
  }
  .main-nav .main-nav-toggle::after {
    content: "";
    position: absolute;
    top: 1.4rem;
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    background-color: white;
    transition: transform 0.5s, top 0.5s;
  }
  .main-nav .main-menu {
    z-index: 1;
    background-color: #011827;
  }
  @media screen and (max-width: 960px) {
    .main-nav.open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.5);
      animation: main-nav_open 0.3s;
    }
    .main-nav.open .main-nav-toggle {
      top: 3rem;
      right: 2rem;
      transform: rotate(225deg);
    }
    .main-nav.open .main-nav-toggle::before {
      opacity: 0;
    }
    .main-nav.open .main-nav-toggle::after {
      transform: rotate(90deg);
      top: 0;
    }
    .main-nav.open .main-menu {
      display: flex;
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: main-menu_open 0.3s;
    }
    .main-nav.open .main-menu a {
      display: block;
      font-size: 1.8em;
      padding: 0.5em 0;
      margin: 0.2em 0;
    }
  }
  @media screen and (min-width: 960px) {
    .main-nav {
      background-color: #011827;
    }
    .main-nav .main-nav-toggle {
      display: none;
    }
    .main-nav .main-menu {
      display: flex;
      justify-content: space-around;
      padding: 1rem 10rem;
      font-size: 1.2rem;
    }
  }
  .main-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-weight: bold;
  }
  .main-nav a:hover {
    color: #8acfe5;
  }
  
  @keyframes main-nav_open {
    0% {
      background-color: rgba(255, 255, 255, 0);
    }
    100% {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  @keyframes main-menu_open {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    50% {
      opacity: 0;
      transform: scale(0.7);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .challenges {
    overflow: hidden;
  }
  .challenges h2 {
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
    margin: 0 0 1rem;
  }
  
  .challenges-list {
    display: flex;
    width: 300%;
  }
  @media screen and (min-width: 960px) {
    .challenges-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: auto;
    }
  }
  
  .challenges-item {
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    background-color: white;
    box-shadow: 0 0 1rem rgba(182, 189, 181, 0.5);
    margin: 1rem;
    overflow: hidden;
    max-width: 85vw;
  }
  .challenges-item > *:not(img) {
    margin: 0 1rem;
  }
  .challenges-item .challenge-title {
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 1rem;
  }
  .challenges-item .challenge-meta {
    display: flex;
    margin-top: 0.5rem;
  }
  @media screen and (min-width: 960px) {
    .challenges-item .challenge-meta {
      justify-content: space-between;
    }
  }
  .challenges-item .challenge-rating {
    display: flex;
    margin: 0 1rem 0 0;
  }
  .challenges-item .challenge-rating .challenge-rating-star {
    width: 1rem;
    height: 1rem;
    margin: 0 0.4rem 0 0;
    background-image: url("images/star-on.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .challenges-item .challenge-rating .challenge-rating-star.off {
    background-image: url("images/star-off.png");
  }
  .challenges-item .challenge-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .challenges-item .challenge-cta {
    display: block;
    margin: 0.5rem;
    background-color: #e3170a;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.2s;
    color: white;
    margin: 1rem;
    align-self: flex-end;
  }
  .challenges-item .challenge-cta:hover {
    background-color: #cb1509;
  }
  @media screen and (min-width: 960px) {
    .challenges-item {
      max-width: 363px;
    }
  }
  
  .challenges-cta {
    padding: 1rem 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 2rem 0;
  }
  .challenges-cta-onsite {
    display: block;
    margin: 0.5rem;
    background-color: #8acfe5;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  .challenges-cta-onsite:hover {
    background-color: #75c6e0;
  }
  .challenges-cta-online {
    font-weight: bold;
    color: #36769d;
    padding: 1rem 2rem;
  }
  @media screen and (min-width: 960px) {
    .challenges-cta {
      flex-direction: row;
      justify-content: center;
      padding: 0;
    }
    .challenges-cta-online {
      display: block;
      margin: 0.5rem;
      background-color: #e3170a;
      padding: 1rem 3rem;
      border-radius: 0.3rem;
      color: black;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      transition: background-color 0.2s;
      color: white;
    }
    .challenges-cta-online:hover {
      background-color: #cb1509;
    }
  }

  .footer {
    background-color: #011827;
    color: white;
    padding: 5rem 0;
  }
  .footer .footer-content {
    margin: 0 1rem;
  }
  .footer .footer-content > div {
    margin: 0 0 2rem;
  }
  .footer h2 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  .footer ul {
    margin: 0 0 1rem;
  }
  .footer a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
  }
  .footer a:hover {
    color: #8acfe5;
  }
  @media screen and (min-width: 960px) {
    .footer {
      margin-top: 10rem;
    }
    .footer .footer-content {
      display: grid;
      max-width: 1280px;
      margin: 0 auto;
      padding: 5rem 0;
      grid-template-columns: repeat(12, 1fr);
    }
    .footer .footer-content .footer-summary {
      grid-column: 2/6;
    }
    .footer .footer-content .footer-sitemap {
      grid-column: 8/10;
    }
    .footer .footer-content .footer-social {
      grid-column: 10/12;
    }
  }
  
  .filter-cta {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid #8acfe5;
    color: #8acfe5;
    box-sizing: border-box;
    width: fit-content;
  }

  .filter-board {
    padding: 1rem;
    padding-top: 2rem;
}

.filter-menu {
  /*box-sizing: border-box;
  width: 60vw;
  margin: 0 auto; */
  border: solid #8acfe5;
  border-radius: 5px;
  color: #011827;
  padding: 0 1rem 1rem 1rem;
}

.our-challenges h2 {
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
    margin: 0 0 1rem;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .x-button-style p {
    font-size: 1.7rem;
    float: right;
    margin: -2.7rem auto;
    background-color: white;
    padding-top: 0.1rem;
  }

  .filter-box-title {
    margin: 0.5rem 1rem 1rem 1rem;
    width: fit-content;
  }

  .choose-filter-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filter-by-type {
    margin: 1rem;
    padding: 1rem;
    order: -1;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: fit-content;
  }

  .filter-by-type ul {
    margin-top: 1rem;
  }

  .filter-by-type ul li {
    list-style-type: none;
    padding-bottom: 0.5rem;
  }

  .filter-by-tag {
    border: solid black;
    margin: 1rem;
    padding: 1rem;
    order: 2;
  }

  .filter-by-rating {
    border: solid black;
    margin: 1rem;
    padding: 1rem;
    order: 1;
  }

  .filter-search-text {
    text-align: left;
    padding: 1rem;
    box-sizing: border-box;
    width: 400px;
    margin: 0 auto;
  }

  .filter-search-text input {
    width: 300px;
    margin-top: 0.5rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    border: solid gray 2px;
    border-radius: 5px;
  }

  .filter-search-text input::placeholder {
    color:lightgray
  }